@(blogs:List[Blog],comments:List[Comment],user:User,form:Form[models.Comment])

@main(user){

	<header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Blogs</h2>
        </hgroup>
    </header>
    
    <div class="row">
	@for(blog <- blogs) {
	<div class="span12">
		<h2>@blog.header</h2>
		<p>@blog.text</p>
		@for(comment <- blog.comments) {
		<blockquote>
			<p>@comment.text</p>
			</blockquote>
		}
		@helper.form(routes.Comments.add(blog.id)) {
			<p><input type="text" name="text" placeholder="Add a Comment" value='@form("text").value'></p>
			<p><input type = "submit" value = "Add comment"></p>
		} 
		<small>By a random Person</small>	
	</div>
	}
</div>
}