@(user:User)(body: Html)

<html>
    <head>
        <title>Blog</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        </head>
    <body>
        <header>
            <a  id="logo"><span>Home</span></a>
                <dl id="user">
                <dt>@user.name <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
                </dl>
           
        </header>
        <nav>
            
            <button id="newGroup"><a href="@routes.Blogs.add()"New Blog</button>
        </nav>
        <section id="main">
            @body
        </section>
    </body>
</html>